<section class="row section-cards">
    <div class="medium-10 large-8 small-12 medium-centered large-centered columns">
        <div class="row">
            <div class="small-12 medium-6 columns card">
                <div class="header">
                    <h6>Robyn Gonzales</h6>
                    <p>Good Girl</p>
                </div>
                <div class="main">
                    <p>lorem lsjkd lsj lkjdsj kjsd kdfj klsjdf</p>
                </div>
            </div>
            <div class="small-12 medium-6 columns card">
                <div class="header">
                    <h6>Kevin Bacino</h6>
                    <p>Bad Boy</p>
                </div>
                <div class="main">
                    <p>lorem lsjkd lsj lkjdsj kjsd kdfj klsjdf</p>
                </div>
            </div>
        </div>
    </div>
</section>