<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/schedule.css' />
    <link rel='stylesheet' href='/stylesheets/rsvp.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel="stylesheet" href='/stylesheets/modal.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Fjord+One|Ruluko|Work+Sans:200,300,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/services.js"></script>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt-xwATecjJiaLCntql1sxxrLDSSgtmus"
              type="text/javascript"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
