<div class="overlay"></div>
<div ng-app="myApp">
    <div ng-controller="ctrlMain">
        <section class="main-wrapper">
            
            <div class="row collapse">
                <div class="small-12 columns" data-section="menu">
                    <nav-bar-dir/>
                </div>
            </div>


            <div id="main" class="animate-switch-container">
                <div class="animate-switch" ng-view></div>
            </div>

        </section>
        <section class="modal-wrapper">
            <modal-overlay-dir/>
        </section>
    </div>
</div>

