<div ng-app="myApp" ng-controller="ctrlMain">
    <div class="row collapse">
        <div class="small-12 columns" data-section="menu">
            <nav-bar-dir/>
        </div>
    </div>


    <div id="main" class="animate-switch-container">
        <div class="animate-switch" ng-view></div>
    </div>



</div>

