body.hide-scroll {
    overflow-y: hidden;
}

body h4, body h6, body p, body a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

body p{
    font-weight: 300;
    font-size: 14px;
}
body h4{
    font-size: 18px;
}
body h6{
    font-size: 16px;
}

.overlay{
    z-index: 10;
    height: 100%;
    position: absolute;
    width: 100%;
}

.overlay.hidden{
    display: none;
}

.row .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

@media screen and (max-width: 39.9375em) {
    [data-section]:not([data-section="home"]):not([data-section="menu"]){
        margin-top: 30px;
    }

}