

[data-section="home" ] .img-container{
    background-image: url('/images/Main2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 400px;
    width: 100%;
}

@media screen and (min-width: 40em) {
    [data-section="home" ] .img-container{
        background-position: inherit;
    }
}

[data-section="home" ] .heading{
    position: absolute;
    top: 10px;
    width: 100%;
    display: none;
}

@media screen and (min-width: 40em) {
    [data-section="home" ] .heading{
        display: block;
    }
}


[data-section="home" ] .card .header h3{
    color: white;
}

[data-section="home" ] .card .header{
    text-align: center;
}

[data-section="home" ] .bottom-card{
    margin-top: -50px;
}


[data-section="home" ] .bottom-card .container {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 7px;
}