[data-section="menu"] nav .is-drilldown{
    background-color: #222b31;
}

[data-section="menu"] nav .title-bar {
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

[data-section="menu"] nav .title-bar .title{
    margin-left: 15px;
}

[data-section="menu"] nav .title-bar button{
    height: 100%;
    margin: 0;
    background-color: #566d7c;
    padding: 20px;
    transition: background-color .2s ease-in;
}

[data-section="menu"] nav .title-bar button:hover{
    background-color: #6b8190;
}

[data-section="menu"] .is-open-left .fa-long-arrow-left{
    display: inline-block;
}

[data-section="menu"] .is-open-left .fa-bars{
    display: none;
}

[data-section="menu"] .fa-long-arrow-left{
    display: none;
}

[data-section="menu"] .vertical.menu{
    background-color: #222b31;
    padding: 8px;
}

[data-section="menu"] .vertical.menu a{
    color: rgba(254, 254, 254, 0.6);
    transition: color .2s ease-in;
}

[data-section="menu"] .vertical.menu a:hover{
    color: rgba(254, 254, 254, 0.9);
}

[data-section="menu"] nav  li:focus, [data-section="menu"] nav  li a:focus {
    outline-width: 0px !important;
}
