[data-section="schedule"] section{
    margin: 10px;
}

[data-section="schedule"] .header-details{
    border: 1px solid #d7c3c3;
    padding: 20px;
}

[data-section="schedule"] .header-details h4{
    color: purple;
}

[data-section="schedule"] .wrapper-show-hide-node.ng-hide-remove{

    animation: opacityZeroToHundred 1s ease-out;
}

@keyframes opacityZeroToHundred {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

[data-section="schedule"] .image-container{
    background-image: url('/images/levine_museum.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 81px;
    padding: 10px;
}

[data-section="schedule"] .header-tabs{
    margin-bottom: 15px;
}

[data-section="schedule"] .header-tabs .columns{
    display: flex;
    flex-direction: column;
}

[data-section="schedule"] .header-tabs a{
    margin: 5px 0;
}

[data-section="schedule"] .header-tabs .custom-button{
    padding: 6px;
    color: purple;
}

[data-section="schedule"] .header-tabs .custom-button:not(.selected){
    background-color: white;
}

[data-section="schedule"] .header-tabs .custom-button:not(.selected):hover{
    background-color: #cfbfbf;
    color: #5d5151;
    transition: background-color .5s ease-out;

}

[data-section="schedule"] .header-tabs .custom-button.selected{
    color: white;
    background-color: purple;
}
