


[data-section="things-to-do"] .cards{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 4px #f6f1f1;
    margin-bottom: 30px;
    transition: background-color .5s linear;

}

[data-section="things-to-do"] .cards:hover{
    background-color: #f2fbff;
}


[data-section="things-to-do"] .cards .right-content{
    background: url('/images/uswwc.jpg') no-repeat;
    background-size: cover;
    height: 120px;
}

[data-section="things-to-do"] .cards h5 {
    color: #5656df
}

[data-section="things-to-do"] .cards .side-notes p{
    margin: 0;
}

[data-section="things-to-do"] #map {

    position: sticky !important;
    margin: auto;
    top: 0;
}

@media screen and (max-width: 39.9375em) {
    [data-section="things-to-do"] #map{
        width: 96%;
    }
}








.animate-switch-container{
    position: relative;
}

.animate-switch.ng-animate {
    transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s,
    left cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}


.animate-switch.ng-enter {
    left:120%;

}

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    left:0;
}

.animate-switch.ng-leave.ng-leave-active {
    opacity: 0;
}







.home .img-container{
    background-image: url('/images/KR_Sitting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;


}

.home .heading{
    position: absolute;
    top: 0;
}


.home .card .header h4{
    color: #ff6756;
}

.home .card .header{
    text-align: center;
}

.home .flip-container-parent{
    margin-top: -50px;
}


.flip-container {
    perspective: 1000px;
}

.flip-container .front, .flip-container .back{
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 7px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    min-height: 200px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}






