
[data-section="things-to-do"] .cards{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 4px #f6f1f1;
    margin-bottom: 30px;
    transition: background-color .5s linear;

}

[data-section="things-to-do"] .cards:hover{
    background-color: #f2fbff;
}

[data-section="things-to-do"] .cards .icon{
    color: gray;
    width: 100%;
    text-align: center;
}

[data-section="things-to-do"] h4{
    color: purple;
}

[data-section="things-to-do"] .cards h5 {
    color: #5656df
}

[data-section="things-to-do"] .cards .side-notes p{
    margin: 0;
}

@media screen and (min-width: 40em) {
    [data-section="things-to-do"] .map-wrapper.custom {
        position: fixed;
        top: 0;
        right: 0;
    }
}


@media screen and (max-width: 39.9375em) {
    [data-section="things-to-do"] #map{
        width: 96%;
        margin: auto;
    }
}