<section>
    <div class="row">
        <div class="small-12 columns">
            <h4>{{copy.routes.thingsToDo.heading}}</h4>
            <p ng-repeat="rec in copy.routes.thingsToDo.headingParas">
                {{rec}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-7 large-6 columns">
            <div ng-repeat="rec in copy.routes.thingsToDo.cards" ng-mouseover="hoverOnCard($index)" class="cards">
                <div class="left-content">
                    <h5>
                        <a href="{{rec.heading.link}}">{{rec.heading.text}}</a>
                    </h5>
                    <p>{{rec.para}}</p>
                    <div ng-repeat="rec2 in rec.sideNotes" class="side-notes">
                        <div><b>{{rec2.heading}}&nbsp;</b><span>{{rec2.text}}</span></div>
                    </div>
                </div>
                <div class="right-content">
                </div>
            </div>
        </div>

        <div id="map" style="height: 400px;"></div>




    </div>

</section>