<section>
    <div class="row">
        <div class="small-12 columns">
            <h4>{{copy.routes.thingsToDo.heading}}</h4>
            <p ng-repeat="rec in copy.routes.thingsToDo.headingParas">
                <span ng-bind-html="rec"></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <label>{{copy.routes.thingsToDo.dropDown.activity.label}}</label>
            <select name="activityDropDown" id="activityDropDown"
                    ng-model="activityDropDown" ng-change="updateActivity()"
                    ng-options="type for type in copy.routes.thingsToDo.dropDown.activity.select">

            </select>
            <label ng-show="showLocationDropDown">{{copy.routes.thingsToDo.dropDown.location.label}}</label>
            <select ng-show="showLocationDropDown" name="locationDropDown" id="locationDropDown"
                    ng-model="locationDropDown" ng-change="locationChange()"
                    ng-options="type for type in copy.routes.thingsToDo.dropDown.location.select">

            </select>
            <label ng-show="showFoodTypeDropDown">{{copy.routes.thingsToDo.dropDown.foodType.label}}</label>
            <select ng-show="showFoodTypeDropDown" name="foodTypeDropDown" id="foodTypeDropDown"
                    ng-model="foodTypeDropDown" ng-change=""
                    ng-options="type for type in copy.routes.thingsToDo.dropDown.foodType.select">

            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-7 large-6 columns">
            <div ng-repeat="rec in copy.routes.thingsToDo.cards
             | filter: activityDropDownFilter
             | filter: locationDropDownFilter
             | filter: foodTypeDropDownFilter"
                 ng-mouseenter="hoverOnCard(rec.heading.text)">
                <div class="cards row">
                    <div class="left-content small-9 columns">
                        <h5>
                            <a href="{{rec.heading.link}}" target="_blank">{{rec.heading.text}}</a>
                        </h5>
                        <p>{{rec.para}}</p>
                    </div>
                    <div class="right-content small-3 columns">
                        <i class="fa fa-4x icon" ng-class="{'fa-beer': rec.type === 'beer', 'fa-cutlery': rec.type === 'food', 'fa-map': rec.type === 'activities'}"></i>
                    </div>
                    <div class="footer-content small-12 columns">
                        <div ng-repeat="rec2 in rec.sideNotes" class="side-notes">
                            <p><b>{{rec2.heading}}&nbsp;</b><span>{{rec2.text}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-wrapper">
            <div id="map" style="height: 400px;"></div>
        </div>



    </div>

</section>