<form name="rsvpForm" novalidate>
    <div class="header">
        <p>{{copy.routes.rsvp.heading}}</p>
        <div class="lookup-container">
            <input type="text" placeholder="lookup by email" name="email" ng-model="formData.email"/>
            <a class="button" ng-click="lookupByEmail()">Lookup</a>
        </div>

    </div>
    <div ng-show="formData.rsvpFormArray.length" ng-repeat="rec in formData.rsvpFormArray"  class="repeat-add-people">
        <p ng-if="$index > 0" class="guest-info">Guest Name</p>
        <div class="row collapse">
            <div class="small-12 columns">
                <input type="text" placeholder="{{copy.routes.rsvp.inputFirst.placeholder}}" name="personFirstName_{{$index}}" ng-model="rec.firstName" ng-readonly="rec.readOnly" required/>
                <input type="text" placeholder="{{copy.routes.rsvp.inputSecond.placeholder}}" name="personLastName_{{$index}}" ng-model="rec.lastName" ng-readonly="rec.readOnly" required/>
            </div>
        </div>
        <p>{{copy.routes.rsvp.switchButtonLabel}}</p>
        <div class="switch large">
            <input class="switch-input" id="attending-{{$index}}" type="checkbox" ng-change="checkboxChanged($index)" ng-model="rec.attending" name="attending-${{index}}">
            <label class="switch-paddle" for="attending-{{$index}}">
                <span class="show-for-sr">{{copy.routes.rsvp.switchButtonLabel}}</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
    </div>
    <a  ng-show="formData.rsvpFormArray.length" class="button" ng-disabled="rsvpForm.$invalid">{{copy.routes.rsvp.submitButtonLabel}}</a>

</form>