<form name="rsvpForm" novalidate>
    <div spinner-overlay-dir toggle=toggleSpinner></div>
    <div class="header">
        <p>{{copy.routes.rsvp.heading}}</p>
        <p ng-show="invitationComplete" class="invitation-complete">Invitation Complete!</p>

        <div class="lookup-container">
            <input type="email" required placeholder="lookup by email" name="email" ng-model="formData.email"/>
            <a class="button" ng-click="lookupByEmail()" ng-disabled="rsvpForm.email.$invalid">Lookup</a>
        </div>



    </div>
    <div ng-show="formData.rsvpFormArray.length" ng-repeat="rec in formData.rsvpFormArray"  class="repeat-add-people">
        <p ng-if="$index > 0" class="guest-info">Guest Name</p>
        <p ng-if="$index > 0" class="guest-info-sub">(Leave Names Blank if Not Attending)</p>
        <div class="row collapse">
            <div class="small-12 columns">
                <input type="text" placeholder="{{copy.routes.rsvp.inputFirst.placeholder}}" name="personFirstName_{{$index}}" ng-model="rec.firstName" ng-readonly="rec.readOnly" ng-required="$index === 0 || ($index === 1 && rec.attending)"/>
                <input type="text" placeholder="{{copy.routes.rsvp.inputSecond.placeholder}}" name="personLastName_{{$index}}" ng-model="rec.lastName" ng-readonly="rec.readOnly" ng-required="$index === 0 || ($index === 1 && rec.attending)"/>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-12 columns">
                <p>{{copy.routes.rsvp.switchButtonLabel}}</p>
                <div class="switch large">
                    <input class="switch-input" id="attending-{{$index}}" type="checkbox" ng-change="checkboxChanged($index)" ng-model="rec.attending" name="attending-${{index}}">
                    <label class="switch-paddle" for="attending-{{$index}}">
                        <span class="show-for-sr">{{copy.routes.rsvp.switchButtonLabel}}</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
            <div class="small-12 columns" ng-show="rec.attending == true">
                <input type="text" placeholder="Enter any dietary restrictions" id="dietaryRestrictions-{{$index}}" ng-model="rec.dietaryRestrictions" ng-name="dietaryRestrictions-{{$index}}">
            </div>

        </div>

    </div>
    <a  ng-show="formData.rsvpFormArray.length" class="button" ng-disabled="rsvpForm.$invalid" ng-click="submitData()">{{copy.routes.rsvp.submitButtonLabel}}</a>

</form>