<section>
    <div class="header-details">
        <div class="row details" ng-repeat="rec in copy.routes.schedule.nodes">
            <div class="parent-wrapper-show-hide-node" ng-show="showHideNode($index)">
                <div class="wrapper-show-hide-node" ng-show="showHideNode($index)">

                    <div class="small-12 medium-9 columns">
                        <h4>{{rec.details.heading}}</h4>
                        <p ng-repeat="paras in rec.details.paras">
                            {{paras}}
                        </p>
                        <p ng-if="rec.details.aside.note" ng-bind-html="rec.details.aside.note"></p>
                        <a ng-if="rec.details.aside.mapLink" class="button small" href="{{rec.details.aside.mapLink.href}}" target="_blank">{{rec.details.aside.mapLink.text}}</a>
                    </div>
                    <div class="medium-3 small-12 columns">
                        <div class="image-container">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row sub-details">
        <div class="line-spacer small-12 columns"></div>
        <div class="small-12 columns data">
            <div ng-repeat="rec in copy.routes.schedule.nodes" class="node-wrapper">
                <div class="node" ng-class="{black: currIndex == $index, clear: currIndex !== $index}">
                    <a href="javascript:void(0)" ng-click="subMenuClick($index)">{{rec.sub.title}}</a>
                    <p>{{rec.sub.subTitle}}</p>
                    <p>{{rec.sub.subSubTitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>