<section>
    <div class="row details" ng-repeat="rec in copy.routes.schedule.nodes">
        <div class="parent-wrapper-show-hide-node" ng-show="showHideNode($index)">
            <div class="wrapper-show-hide-node" ng-show="showHideNode($index)">
                <div class="show-for-medium medium-2 columns">

                </div>
                <div class="small-9 medium-8 columns">
                    <h6>{{rec.details.heading}}</h6>
                    <p ng-repeat="paras in rec.details.paras">
                        {{paras}}
                    </p>
                </div>
                <div class="small-3 medium-2 columns">
                    <h6>{{rec.details.aside.place}}</h6>
                    <a href="{{rec.details.aside.mapLink.href}}">{{rec.details.aside.mapLink.text}}</a>
                    <p>Dress: {{rec.details.aside.mapLink.dress}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row sub-details">
        <div class="small-12 columns">
            <div ng-repeat="rec in copy.routes.schedule.nodes">
                <div class="circle"></div>
                <h6>{{rec.sub.title}}</h6>
                <p>{{rec.sub.subTitle}}</p>
                <a href="javascript:void(0)" ng-click="subMenuClick($index)">{{rec.sub.link.title}}</a>
            </div>
        </div>
    </div>
</section>