<div class="img-container" data-src="/images/KR_Sitting.jpg"></div>
<div class="row heading">
    <div class="medium-9 large-7 small-12 medium-centered large-centered columns">
        <div class="card">
            <div class="header">
                <h3>{{copy.routes.home.heading}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="bottom-card row">
    <div class="small-8 medium-6 medium-centered small-centered">
        <div class="container">
            <h4>{{copy.routes.home.aboutUs.heading}}</h4>
            <p>{{copy.routes.home.aboutUs.subHeading}}</p>
        </div>
    </div>
</div>