<div class="img-container" data-src="/images/KR_Sitting.jpg"></div>
<div class="row heading">
    <div class="medium-9 large-7 small-12 medium-centered large-centered columns">
        <div class="card">
            <div class="header">
                <h4>{{copy.routes.home.heading}}</h4>
                <p>{{copy.routes.home.subHeading}}</p>
                <a
            </div>
        </div>
    </div>
</div>
<div class="flip-container-parent row">
    <div class="small-8 medium-6 medium-centered small-centered">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <h4>{{copy.routes.home.aboutUs.front.heading}}</h4>
                    <p>{{copy.routes.home.aboutUs.front.subHeading}}</p>
                </div>
                <div class="back">
                    <h4>{{copy.routes.home.aboutUs.back.heading}}</h4>
                    <p>{{copy.routes.home.aboutUs.back.subHeading}}</p>
                </div>
            </div>
        </div>
    </div>
</div>