<div class="img-container" data-src="/images/KR_Sitting.jpg"></div>
<section class="row section-cards">
    <div class="medium-9 large-7 small-12 medium-centered large-centered columns">
        <div class="card">
            <div class="header">
                <h4>{{copy.routes.home.pane.heading}}</h4>
                <p>{{copy.routes.home.pane.subHeading}}</p>
            </div>
            <div class="main">
                <p>{{copy.routes.home.pane.para}}</p>
            </div>
        </div>
    </div>
</section>